{{ partial "header.html" . }}

<main class="content" role="main">
  <p>
    <TT>model4you</TT> is an <TT>R</TT> package for stratified and personalised medicine.
    Learn how <TT>model4you</TT> can be used for:
  </p>
  {{ if and .IsHome .Content }}
  <article class="article">
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ else }}
  <div class="archive">
    {{ range (where .Data.Pages "Section" "!=" "").GroupByDate "2006" }}
<!--
    <h2 class="archive-title">{{ .Key }}</h2>
-->
    {{ range .Pages }}
    <article class="archive-item">
      <i class="fas fa-female"></i><i class="fas fa-male"></i><i class="fas fa-female"></i>
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
<!--
      <span class="archive-item-date">
        {{ .Date.Format "2006/01/02" }}
      </span>
-->
     <p>
     </p>
    </article>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
  <p> <br /> </p>
  <div align="middle">
    <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         width="250"
         height="250">
  </div>
</main>


{{ partial "footer.html" . }}
