      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="{{ .Site.RSSLink | relURL }}" type="application/rss+xml" target="_blank">RSS feed</a>
          </li>
          <li>
            <a href="https://gitlab.com/model4you/model4you.gitlab.io" class="fab fa-gitlab"></a>
          </li>
        </ul>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
