---
title: "model4you for personalised medicine"
author: "Heidi Seibold"
date: 2018-02-15
categories: ["R"]
tags: ["R", "model4you", "applied"]
---



<pre class="r"><code>library(&quot;model4you&quot;)
library(&quot;ggplot2&quot;)
library(&quot;gridExtra&quot;)
library(&quot;survival&quot;)</code></pre>
<pre class="r"><code>data(&quot;MathExam14W&quot;, package = &quot;psychotools&quot;)

## scale points achieved to [0, 100] percent
MathExam14W$tests &lt;- 100 * MathExam14W$tests/26
MathExam14W$pcorrect &lt;- 100 * MathExam14W$nsolved/13

## select variables to be used
MathExam &lt;- MathExam14W[ , c(&quot;pcorrect&quot;, &quot;group&quot;, &quot;tests&quot;, 
                             &quot;study&quot;, &quot;attempt&quot;, &quot;semester&quot;, 
                             &quot;gender&quot;)]</code></pre>
<pre class="r"><code>## compute base model
bmod_math &lt;- lm(pcorrect ~ group, data = MathExam)
lm_plot(bmod_math, densest = TRUE)

## extract coefficients and confidence intervals
coefs &lt;- coef(bmod_math)
ci &lt;- confint(bmod_math)
coefs &lt;- cbind(coefs, ci)

## prepare for plotting
digits &lt;- 2
cf &lt;- format(round(coefs, digits), nsmall = digits)
colnams &lt;- colnames(cf)
colnams[1] &lt;- &quot;theta&quot;
gridExtra::grid.table(
  cf, cols = colnams,
  theme = ttheme_minimal(colhead = list(fg_params = list(parse = TRUE))),
  vp = viewport(x = 0.5, y = 0, width = 0.7, height = 0.4,
                just = c(&quot;center&quot;, &quot;bottom&quot;))
)</code></pre>
<p><img src="/post/01-R-SGA_files/figure-html/math_bmod-1.png" width="672" /></p>
<pre class="r"><code>## compute tree
(tr_math &lt;- pmtree(bmod_math, control = ctree_control(maxdepth = 2)))</code></pre>
<pre><code>## No data given. I&#39;m using data set MathExam from the current environment parent.frame(). 
##                    Please check if that is what you want.</code></pre>
<pre><code>## [1] root
## |   [2] tests &lt;= 84.61538
## |   |   [3] tests &lt;= 57.69231: n = 121
## |   |       (Intercept)      group2 
## |   |         40.694789   -4.580056 
## |   |   [4] tests &gt; 57.69231: n = 425
## |   |       (Intercept)      group2 
## |   |         55.251855   -2.012988 
## |   [5] tests &gt; 84.61538
## |   |   [6] tests &lt;= 92.30769: n = 97
## |   |       (Intercept)      group2 
## |   |         66.730769   -3.033063 
## |   |   [7] tests &gt; 92.30769: n = 86
## |   |       (Intercept)      group2 
## |   |          90.32967   -13.25576 
## 
## Number of inner nodes:    3
## Number of terminal nodes: 4
## Number of parameters per node: 2
## Objective function: -276167.6</code></pre>
<pre class="r"><code>plot(tr_math, terminal_panel = node_pmterminal(tr_math, 
                                               plotfun = lm_plot, 
                                               confint = TRUE))</code></pre>
<p><img src="/post/01-R-SGA_files/figure-html/math_tree-1.png" width="1152" /></p>
