---
title: "Subgroup Analyses / Precision Medicine"
author: "Heidi Seibold"
date: 2018-02-15
categories: ["R"]
tags: ["R", "model4you", "applied"]
---



<pre class="r"><code>library(&quot;model4you&quot;)</code></pre>
<pre><code>## Loading required package: partykit</code></pre>
<pre><code>## Loading required package: grid</code></pre>
<pre><code>## Loading required package: libcoin</code></pre>
<pre><code>## Loading required package: mvtnorm</code></pre>
<pre><code>## Loading required package: rpart</code></pre>
<pre class="r"><code>library(&quot;ggplot2&quot;)
library(&quot;gridExtra&quot;)
library(&quot;survival&quot;)
data(&quot;GBSG2&quot;, package = &quot;TH.data&quot;)</code></pre>
<pre class="r"><code>bmod &lt;- survreg(Surv(time, cens) ~ horTh, data = GBSG2, model = TRUE)
survreg_plot(bmod)

## extract coefficients and confidence intervals
coefs &lt;- coef(bmod)
ci &lt;- confint(bmod)
coefs &lt;- cbind(coefs, ci)

## prepare for plotting
digits &lt;- 2
cf &lt;- format(round(coefs, digits), nsmall = digits)
colnams &lt;- colnames(cf)
colnams[1] &lt;- &quot;theta&quot;
gridExtra::grid.table(
  cf, cols = colnams,
  theme = ttheme_minimal(colhead = list(fg_params = list(parse = TRUE))),
  vp = viewport(x = 0, y = 0, width = 0.7, height = 0.4,
                just = c(&quot;left&quot;, &quot;bottom&quot;))
)</code></pre>
<div class="figure">
<img src="/post/02-R-PM_files/figure-html/GBSG2_bmod-1.png" alt="Base model for GBSG2 data." width="0.7\textwidth" />
<p class="caption">
(#fig:GBSG2_bmod)Base model for GBSG2 data.
</p>
</div>
<!-- ```{r GBSG2_tree, fig.width = 9} -->
<!-- tr <- pmtree(bmod) -->
<!-- plot(tr, terminal_panel = node_pmterminal(tr, plotfun = survreg_plot, -->
<!--                                           confint = TRUE)) -->
<!-- ``` -->
<pre class="r"><code>set.seed(123)
frst &lt;- pmforest(bmod, ntree = 100)</code></pre>
<pre><code>## No data given. I&#39;m using data set GBSG2 from the current environment parent.frame(). 
##                    Please check if that is what you want.</code></pre>
<pre class="r"><code>newpatient_i &lt;- data.frame(age = 60, menostat = &quot;Post&quot;, tsize = 20, tgrade = &quot;II&quot;,
                           pnodes = 3, progrec = 50, estrec = 60)
mod_i &lt;- pmodel(x = frst, fun = identity, newdata = newpatient_i)</code></pre>
<pre class="r"><code>coeffun &lt;- function(model) {
  ## model coefficients
  coefs &lt;- c(coef(model), scale = model$scale)

  ## difference in median survival
  p = 0.5
  coefs[&quot;median_s0&quot;] &lt;- qweibull(p = p, shape = 1/coefs[&quot;scale&quot;],
                                 scale = exp(coefs[&quot;(Intercept)&quot;]))
  coefs[&quot;median_s1&quot;] &lt;- qweibull(p = p, shape = 1/coefs[&quot;scale&quot;],
                                 scale = exp(coefs[&quot;(Intercept)&quot;] + coefs[2]))
  coefs[&quot;median_sdiff&quot;] &lt;- coefs[&quot;median_s1&quot;] - coefs[&quot;median_s0&quot;]

  return(coefs)
}
coefs &lt;- pmodel(x = frst, fun = coeffun, OOB = TRUE)

## add to data and plot
dpdat &lt;- cbind(coefs, GBSG2)
znam &lt;- names(GBSG2)[!(names(GBSG2) %in% c(&quot;horTh&quot;, &quot;time&quot;, &quot;cens&quot;))]

dplot &lt;- function(z) {
  p &lt;- ggplot(dpdat, aes_string(x = z, y = &quot;median_sdiff&quot;))
  if(is.factor(dpdat[, z])) {
    p + geom_boxplot()
  } else {
    p + geom_point(alpha = 0.2) +
      geom_smooth(fill = NA, method = &quot;loess&quot;)
  }
}
dps &lt;- lapply(znam, dplot)
do.call(grid.arrange, dps)</code></pre>
<p><img src="/post/02-R-PM_files/figure-html/GBSG2_pmod-1.png" width="672" /></p>
<pre class="r"><code>do.call(grid.arrange, lapply(dps, function(p) {
  dmin &lt;- min(dpdat$median_sdiff)
  dq &lt;- quantile(dpdat$median_sdiff, 0.99)
  p + coord_cartesian(ylim = c(dmin, dq))
}))</code></pre>
<p><img src="/post/02-R-PM_files/figure-html/GBSG2_pmod-2.png" width="672" /></p>
<pre class="r"><code>set.seed(123)
vi &lt;- varimp(frst)</code></pre>
<pre><code>## Warning in survreg.fit(X, Y, weights, offset, init = init, controlvals =
## control, : Ran out of iterations and did not converge

## Warning in survreg.fit(X, Y, weights, offset, init = init, controlvals =
## control, : Ran out of iterations and did not converge

## Warning in survreg.fit(X, Y, weights, offset, init = init, controlvals =
## control, : Ran out of iterations and did not converge

## Warning in survreg.fit(X, Y, weights, offset, init = init, controlvals =
## control, : Ran out of iterations and did not converge

## Warning in survreg.fit(X, Y, weights, offset, init = init, controlvals =
## control, : Ran out of iterations and did not converge

## Warning in survreg.fit(X, Y, weights, offset, init = init, controlvals =
## control, : Ran out of iterations and did not converge

## Warning in survreg.fit(X, Y, weights, offset, init = init, controlvals =
## control, : Ran out of iterations and did not converge</code></pre>
<pre class="r"><code>var &lt;- names(vi)
vi_d &lt;- data.frame(variable = factor(var, levels = var[order(vi)]), 
                   VI = vi)

ggplot(vi_d, aes(x = variable, y = VI)) + 
  geom_bar(stat = &quot;identity&quot;, width = .1) +
  coord_flip() +
  theme(panel.grid.major.y = element_blank())</code></pre>
<p><img src="/post/02-R-PM_files/figure-html/GBSG2_varimp-1.png" width="672" /></p>
